/*   
Theme Name: ShiftSpace
Theme URI: 
Description: ShiftSpace 1.0 Website
Author: Angel Ng, Mushon Zer-Aviv
Author URI: http://www.shiftspace.org
Template: thematic
Version: 1.0
Tags: Thematic, ShiftSpace
.
ShiftSpace Orange: #f63b02
Text Light: #B3ADA5
Text Dark: #74665a
.
*/

/* Apply Blueprint CSS into Thematic */
@import url('../shiftspace/css/blueprint/screen.css');

/* Reset browser defaults */
@import url('../thematic/library/styles/reset.css');

/* Apply basic typography styles */
@import url('../thematic/library/styles/typography.css');

/* Apply a basic layout */
@import url('../thematic/library/layouts/2c-r-fixed.css');

/* Apply basic image styles */
@import url('../thematic/library/styles/images.css');

/* Apply default theme styles and colors */
/* It's better to actually copy over default.css into this file (or link to a copy in your child theme) if you're going to do anything outrageous */
@import url('../thematic/library/styles/default.css');

/* Prepare theme for plugins */
@import url('../thematic/library/styles/plugins.css');

body {
  margin: 0 auto;
  font-family: helvetica neue, arial, sans-serif;
}

#wrapper {
  margin: 0 auto;
}

#header {
  background:transparent url(images/header_gradient.png) repeat scroll bottom left;
}

#branding {
  padding:15px 0 10px;
}

#menu{
  width: auto;
}

#access {
  border-bottom:medium none;
  font-size:13px;
  margin:-61px auto 0;
  width:960px;
}

/*-- Logo and Description --*/

#blog-title a {
  background:transparent url(images/shiftspace_logo.png) no-repeat scroll top left;
  text-indent:-1500px;
  display: block;
  height:100px;
  text-transform:lowercase;
}

#blog-description {
  color: #B3ADA5;
  font-family: georgia, serif;
  font-size: 14px;
  font-style: italic;
  margin: -30px 0 0 93px;
}

/*-- Nav Menu --*/

.sf-menu {
  border: none;
  background-color: transparent;
  margin:-2px 0 0 150px;
  font-weight: bold;
}

.sf-menu a, .sf-menu a:visited  {
  border: none;
  color: #B3ADA5;
  text-transform: uppercase;
}

.sf-menu li {
  background: transparent;
}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
  background: transparent;
  border-bottom-color: transparent;
  color: #74665a;
}

#header div#install{
  float: right;
  padding-top: 4px;
}

#header div#install a{
  text-decoration: none;
  font-size: 12px;
  color: #B3ADA5;
}

/*-- Main Content --*/

body.home #wrapper {
  background:transparent url(images/home_bg.png) no-repeat scroll center top;
}

body.home #shiftBox {
  width: 960px;
  margin: 0 auto;
  height: 300px;
  padding-top: 200px;
  text-align: center;
  }
  
  body.home #shiftBox label {
    text-transform: uppercase;
    font-weight: bold;
    color: #b3ada5;
    display: block;
  }
  
  body.home #shiftBox {
  
  }
  
  body.home #shiftBox input[type='text'] {
    background:url("images/shift_box.png") top center;
    border:0 none;
    color:#4B423A;
    font-size:16px;
    padding:10px;
    width:504px;
    border-radius: 5px; 
    -ms-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
  }
  
  body.home #shiftBox input[type='text']:focus {
    background-position: bottom; 
  }
  
  body.home #shiftBox #hook{
    display: block;
    margin: 130px auto 0;
    width: 100px;
    height: 200px;
    background: url(images/hook.png) no-repeat center 30px;
    color:#B3ADA5;
    display:block;
    font-weight:bold;
    text-transform:uppercase;
    text-decoration: none;
  }

/*-- Footer --*/

#footer {
  background: url(images/footer_gradient.png) repeat scroll top left;
  height: 30px;
  border: none;
  margin-top: 165px;
}

#siteinfo {
  color: #B3ADA5;
  font-size: 11px;
  line-height: 18px;
  padding: 5px 0 5px;
  text-align: right;
  text-transform: uppercase;
}


/* ¤ Buttons ============================================== */


.SSButtonMajor{
   background-color: #f63b02;
   color:#fff;
   border:2px #b52b01 solid;
   -moz-border-radius: 11px;
   -webkit-border-radius: 11px;
   padding:1px 10px 1px 9px;
   font-weight:bold;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 11px;
   text-transform: uppercase;
}

.SSButtonMajor.SSSecondary{
   background: none;
   border:2px #f63b02 solid;
   color: #f63b02;
}

.SSButtonMajor.SSDeemphasized{
   background: none;
   border:2px #cac5be solid;
   color: #74665a;
}

.SSButtonMinor{
   background: none;
   border: 0;
   color: #f63b02;
   text-decoration: underline;
   padding:2px 5px 1px 4px;
   font-size: 11px;
   font-weight: bold;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.SSButtonMinor.SSDeemphasized{
   padding:1px 5px 0 4px;
   font-weight: normal;
   text-align: left;
   color: #4B423A;
   text-decoration: none;
}

.SSButtonMajor:hover,
.SSButtonMinor:hover
{
	cursor: pointer;
}

div.panelButtons{
    margin-top: 10px;
}
